
Django==4.2.7

google-api-core==2.23.0
google-auth==2.36.0
google-cloud-core==2.4.1
google-cloud-translate==3.18.0
googleapis-common-protos==1.66.0
googletrans==4.0.0rc1
grpc-google-iam-v1==0.13.1

pillow==10.4.0

psycopg2-binary==2.9.9
