<div class="top-navbar">
    <img src="static/images/ATDC-logo-01-01.png" alt="Image 1" class="navbar-image">
    <img src="static/images/wad-logo-01.png" alt="Image 2" class="navbar-image">
    <nav class="navbar-links">
        <a href="choice.html" class="nav-link">Home</a>
        <a href="#" class="nav-link">About Us</a>
        <a href="#" class="nav-link">Agritourism Centres</a>
        <a href="blog.html" class="nav-link">Blogs And News</a>
        <a href="{% url 'community' %}" class="nav-link">community</a>

        <a href="#" class="nav-link">Contact Us</a>
    </nav>
</div>